<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <div class="row sticky-top">
          <div class="col-sm-12">
            <p-menu [model]="items" ></p-menu></div>

          <div class="col-sm-6">
            <div class="card">
              <ng-container *ngIf="isShow; else loadDataUni">
                <div class="p-field p-col-12 p-md-6">
                  <p-skeleton styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton height="2rem" styleClass="p-mb-2"></p-skeleton>
                </div>
              </ng-container>
              <ng-template #loadDataUni>
                <div class="card-body styleBg">
                  <div class="profile-wrap animated fadeIn">
                    <div class="info-wrap">
                      <div class="avatar-wrap">
                        <img src="{{ universities[1].image }}" alt="avatar" />
                      </div>
                      <span class="user-name"
                        ><i class="pi pi-briefcase mt-2 mr-2"></i>Đại học</span
                      >
                      <span class="user-name">{{ universities[1].name }}</span>
                      <span class="buttonFollow">
                        <button
                          pButton
                          pRipple
                          type="button"
                          label="Theo dõi"
                          class="p-button-raised"
                          style="
                            background-color: aliceblue;
                            color: black;
                            border-radius: 10px;
                            border: 1px solid grey !important;
                          "
                        ></button>
                      </span>
                    </div>
                    <div class="profile-head">
                      <img
                        src="{{ universities[1].image }}"
                        alt="profile-head-bg"
                        class="profile-head-bg"
                      />
                    </div>
                  </div>
                  <div class="card-footer text-center">
                    <div class="extendUser">
                      <div class="card">
                        <p-avatarGroup styleClass="p-mb-3">
                          <p-avatar
                            image="https://i.pinimg.com/236x/ad/15/4c/ad154cd33e4fc34d4a492966db9e9e37.jpg"
                            size="large"
                            shape="circle"
                          ></p-avatar>
                          <p-avatar
                            image="https://i.pinimg.com/236x/76/18/38/761838420398ec0b0b412b46b71f2ab2.jpg"
                            size="large"
                            shape="circle"
                          ></p-avatar>
                          <p-avatar
                            label="+2"
                            shape="circle"
                            size="large"
                            [style]="{
                              'background-color': '#0099F3',
                              color: '#ffffff'
                            }"
                          ></p-avatar
                          ><span style="font-size: x-small; color: gray"
                            >người cũng đang theo dõi</span
                          >
                        </p-avatarGroup>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card">
              <ng-container *ngIf="isShow; else loadDataUnis">
                <div class="p-field p-col-12 p-md-6">
                  <p-skeleton styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton height="2rem" styleClass="p-mb-2"></p-skeleton>
                </div>
              </ng-container>
              <ng-template #loadDataUnis>
                <div class="card-body styleBg">
                  <div class="profile-wrap animated fadeIn">
                    <div class="info-wrap">
                      <div class="avatar-wrap">
                        <img src="{{ universities[0].image }}" alt="avatar" />
                      </div>
                      <span class="user-name"
                        ><i class="pi pi-briefcase mt-2 mr-2"></i>Đại học</span
                      >
                      <span class="user-name">{{ universities[0].name }}</span>
                      <span class="buttonFollow">
                        <button
                          pButton
                          pRipple
                          type="button"
                          label="Theo dõi"
                          class="p-button-raised"
                          style="
                            background-color: aliceblue;
                            color: black;
                            border-radius: 10px;
                            border: 1px solid grey !important;
                          "
                        ></button>
                      </span>
                    </div>
                    <div class="profile-head">
                      <img
                        src="{{ universities[0].image }}"
                        alt="profile-head-bg"
                        class="profile-head-bg"
                      />
                    </div>
                  </div>
                  <div class="card-footer text-center">
                    <div class="extendUser">
                      <div class="card">
                        <p-avatarGroup styleClass="p-ml-4">
                          <p-avatar
                            image="https://i.pinimg.com/236x/b0/7f/73/b07f7378808e893c16866ea09114c808.jpg"
                            size="large"
                            shape="circle"
                          ></p-avatar>
                          <p-avatar
                            image="https://i.pinimg.com/236x/7e/96/42/7e964217712707acba8b0bc270444997.jpg"
                            size="large"
                            shape="circle"
                          ></p-avatar>
                          <p-avatar
                            label="+2"
                            shape="circle"
                            size="large"
                            [style]="{
                              'background-color': '#0099F3',
                              color: '#ffffff'
                            }"
                          ></p-avatar
                          ><span style="font-size: x-small; color: gray"
                            >người cũng đang theo dõi</span
                          >
                        </p-avatarGroup>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
            <div class="col-sm-12" *ngIf="showUser">
              <div class="card card-profile">
                <div class="card-avatar border-white">
                  <a href="#avatar">
                    <img src="{{ avatarUrl }}" alt="{{ userName }}" />
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{ userName }}</h4>
                  <h5 class="card-category">Trường THPT Lê Khiết</h5>
                  <h6 class="card-category">Ngày sinh: 20/03/2000</h6>
                  <p class="card-description">Yêu những review chân thực</p>
                </div>
              </div>
            </div>
        </div>

          <div class="col-sm-12" *ngIf="showNotify">
            <div class="card card-profile">
              <div class="dropdown-header">
                <h4 style="font-weight: 600">Thông báo</h4>
              </div>
              <ul class="friend-list">
                <li class="d-block">
                  <div>
                    <div class="media">
                      <p-avatar
                        image="https://i.pinimg.com/236x/b0/7f/73/b07f7378808e893c16866ea09114c808.jpg"
                        size="large"
                        shape="circle"
                      ></p-avatar>
                      <div class="media-body">
                        <div class="float-left">
                          <h5 class="mt-0">
                            <span>Nguyễn Bá Hùng</span> đã đăng bài đánh giá mới
                            về trường đại học Bách Khoa
                          </h5>
                          <h6>8 giờ trước</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <a href="#">
                    <div class="media">
                      <p-avatar
                        image="https://i.pinimg.com/236x/7e/96/42/7e964217712707acba8b0bc270444997.jpg"
                        size="large"
                        shape="circle"
                      ></p-avatar>
                      <div class="media-body">
                        <div class="float-left">
                          <h5 class="mt-0">
                            <span>Nguyễn Bá Hùng</span> đã đăng bài đánh giá mới
                            về trường đại học Bách Khoa
                          </h5>
                          <h6>8 hour ago</h6>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      </div>
      <div class="col-md-7 col-sm-12 review">
        <app-card
          [headerContent]="'Duyệt bài review của Reviewer'"
          class="reviewCard"
        >
          <ng-container *ngIf="isShow; else loadData">
            <div class="p-field p-col-12 p-md-6">
              <div class="custom-skeleton p-p-4">
                <ul class="p-m-0 p-p-0">
                  <li class="p-mb-3">
                    <div class="p-d-flex">
                      <p-skeleton
                        shape="circle"
                        size="4rem"
                        styleClass="p-mr-2"
                      ></p-skeleton>
                      <div style="flex: 1">
                        <p-skeleton
                          width="100%"
                          styleClass="p-mb-2"
                        ></p-skeleton>
                        <p-skeleton width="75%"></p-skeleton>
                      </div>
                    </div>
                  </li>
                  <li class="p-mb-3">
                    <div class="p-d-flex">
                      <p-skeleton
                        shape="circle"
                        size="4rem"
                        styleClass="p-mr-2"
                      ></p-skeleton>
                      <div style="flex: 1">
                        <p-skeleton
                          width="100%"
                          styleClass="p-mb-2"
                        ></p-skeleton>
                        <p-skeleton width="75%"></p-skeleton>
                      </div>
                    </div>
                  </li>
                  <li class="p-mb-3">
                    <div class="p-d-flex">
                      <p-skeleton
                        shape="circle"
                        size="4rem"
                        styleClass="p-mr-2"
                      ></p-skeleton>
                      <div style="flex: 1">
                        <p-skeleton
                          width="100%"
                          styleClass="p-mb-2"
                        ></p-skeleton>
                        <p-skeleton width="75%"></p-skeleton>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="p-d-flex">
                      <p-skeleton
                        shape="circle"
                        size="4rem"
                        styleClass="p-mr-2"
                      ></p-skeleton>
                      <div style="flex: 1">
                        <p-skeleton
                          width="100%"
                          styleClass="p-mb-2"
                        ></p-skeleton>
                        <p-skeleton width="75%"></p-skeleton>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </ng-container>
          <ng-template #loadData>
            <div class="row reviewBody">
              <div class="media-area">
                <div class="media">
                  <a class="pull-left" href="javascript:void(0)">
                    <div class="avatar">
                      <img
                        class="media-object"
                        src="{{ reviewer.reviewerAvatar }}"
                        alt="..."
                      />
                    </div>
                  </a>
                  <div class="media-body">
                    <h5 class="media-heading">{{ reviewer.reviewerName }}</h5>
                    <div class="pull-right">
                      <h6 class="text-muted">21 giờ 00 phút 25/09/2021</h6>
                    </div>
                    <br />
                    <h5>
                      Đại học {{ reviewer.universityName }} -
                      {{ reviewer.campusName }}
                    </h5>
                    <!-- body review -->
                    <div class="row">
                      <p-tabView>
                        <ng-container *ngFor="let review of reviews">
                          <p-tabPanel
                            [style]="{ 'font-size': '25px' }"
                            header="{{ review.name }}"
                          >
                            <div class="row">
                              <div class="col-sm-12 col-xl-12 p-l-4">
                                <dl class="dl-horizontal row">
                                  <dt class="col-sm-4">Tổng quan</dt>
                                  <dd class="col-sm-8">
                                    <p-rating
                                      [ngModel]="review.overallRating"
                                      readonly="true"
                                      stars="5"
                                      [cancel]="false"
                                      [iconOnStyle]="{ 'font-size': '25px' }"
                                      [iconOffStyle]="{ 'font-size': '25px' }"
                                    ></p-rating>
                                  </dd>
                                  <dt class="col-sm-4">Đánh giá chi tiết</dt>
                                  <ng-container
                                    *ngFor="let detail of review.detail"
                                  >
                                    <dd class="col-sm-12 col-sm-offset-3">
                                      <div class="row">
                                        <div class="col-sm-4 offset-3">
                                          {{ detail.name }}
                                        </div>
                                        <div class="col-sm-5">
                                          <div>
                                            <p-rating
                                              [ngModel]="detail.rating"
                                              readonly="true"
                                              stars="5"
                                              [cancel]="false"
                                            ></p-rating>
                                          </div>
                                        </div>
                                      </div>
                                    </dd>
                                  </ng-container>

                                  <dt class="col-sm-3 text-truncate">
                                    Ưu điểm
                                  </dt>
                                  <dd class="col-sm-9">
                                    {{ review.pros }}
                                  </dd>
                                  <dt class="col-sm-3 text-truncate">
                                    Nhược điểm
                                  </dt>
                                  <dd class="col-sm-9">
                                    {{ review.cons }}
                                  </dd>
                                </dl>
                              </div>
                              <div class="col-sm-12 col-xl-12">
                                <p-carousel
                                  [value]="review.pictures"
                                  [numVisible]="1"
                                  [numScroll]="1"
                                  [autoplayInterval]="3000"
                                  [circular]="false"
                                >
                                  <ng-template
                                    let-pictureForReview
                                    pTemplate="item"
                                  >
                                    <div class="review-item">
                                      <div class="review-item-content">
                                        <div class="p-mb-3">
                                          <img
                                            src="{{ pictureForReview.url }}"
                                            class="review-image"
                                          />
                                        </div>
                                      </div>
                                    </div>
                                  </ng-template>
                                </p-carousel>
                              </div>
                            </div>
                          </p-tabPanel>
                        </ng-container>
                      </p-tabView>
                    </div>

                    <div class="media-footer">
                      <hr style="font-weight: 600; margin-right: 15px" />
                      <button
                        pButton
                        pRipple
                        type="button"
                        class="thumb-up p-button-outlined p-button-secondary"
                      >
                        <i class="pi pi-thumbs-up mr-2"></i>332
                      </button>
                      <button
                        pButton
                        pRipple
                        type="button"
                        class="thumb-down p-button-outlined p-button-secondary"
                      >
                        <i class="pi pi-thumbs-down mr-2"></i>2
                      </button>
                      <button
                        pButton
                        pRipple
                        type="button"
                        class="
                          p-button-outlined p-button-secondary
                          float-right
                          mr-5
                        "
                        style="border: none"
                        (click)="showCommentSection()"
                      >
                        <i class="pi pi-comments mr-2"></i> Bình luận
                      </button>
                      <!-- comment -->
                      <ng-container *ngIf="showComment">
                        <div class="row">
                          <div class="col mx-auto">
                            <div class="media-area mr-5">
                              <div class="media">
                                <a class="pull-left" href="javascript:void(0)">
                                  <div class="avatar profile-photo-small">
                                    <img
                                      class="media-object"
                                      src="https://i.pinimg.com/236x/7e/96/42/7e964217712707acba8b0bc270444997.jpg"
                                      alt="..."
                                    />
                                  </div>
                                </a>
                                <div class="media-body">
                                  <h5 class="media-heading">Thành Đạt</h5>
                                  <div class="pull-right">
                                    <h6 class="text-muted">
                                      8 giờ 15 phút 26/10/2021
                                    </h6>
                                    <a
                                      href="javascript:void(0)"
                                      class="btn btn-info btn-link pull-right"
                                      (click)="showReplyCommentSection()"
                                    >
                                      <i class="fa fa-reply"></i> Reply</a
                                    >
                                  </div>
                                  <p>Bài đánh giá tuyệt vời</p>
                                  <p>Cảm ơn chia sẻ của bạn</p>

                                  <br />
                                  <ng-container *ngIf="showReply">
                                    <div class="media media-post">
                                      <a
                                        class="pull-left author"
                                        href="javascript:void(0)"
                                      >
                                        <div class="avatar">
                                          <img
                                            class="media-object"
                                            alt="64x64"
                                            src="{{ avatarUrl }}"
                                          />
                                        </div>
                                      </a>
                                      <div class="media-body">
                                        <textarea
                                          class="form-control"
                                          placeholder="Trả lời bình luận ..."
                                          rows="4"
                                        ></textarea>
                                        <div class="media-footer">
                                          <a
                                            href="javascript:void(0)"
                                            class="btn btn-info pull-right"
                                            >Reply</a
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <!-- end media-post -->
                                  </ng-container>
                                </div>
                              </div>
                              <!-- end media -->
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <!--  end Comment -->
                    </div>
                  </div>
                </div>
                <!-- end media -->
              </div>
            </div>
          </ng-template>
        </app-card>
        <ng-container *ngIf="isShow1">
        <app-card
          [headerContent]="'Duyệt bài review của Reviewer'"
          class="reviewCard1"
        >
          
            <div class="row reviewBody">
              <div class="media-area">
                <div class="media">
                  <a class="pull-left" href="javascript:void(0)">
                    <div class="avatar">
                      <img
                        class="media-object"
                        src="{{ reviewer1.reviewerAvatar }}"
                        alt="..."
                      />
                    </div>
                  </a>
                  <div class="media-body">
                    <h5 class="media-heading">{{ reviewer1.reviewerName }}</h5>
                    <div class="pull-right">
                      <h6 class="text-muted">21 giờ 00 phút 25/09/2021</h6>
                    </div>
                    <br />
                    <h5>
                      Đại học {{ reviewer1.universityName }} -
                      {{ reviewer1.campusName }}
                    </h5>
                    <!-- body review -->
                    <div class="row">
                      <p-tabView>
                        <ng-container *ngFor="let review of reviews1">
                          <p-tabPanel
                            [style]="{ 'font-size': '25px' }"
                            header="{{ review.name }}"
                          >
                            <div class="row">
                              <div class="col-sm-12 col-xl-12 p-l-4">
                                <dl class="dl-horizontal row">
                                  <dt class="col-sm-4">Tổng quan</dt>
                                  <dd class="col-sm-8">
                                    <p-rating
                                      [ngModel]="review.overallRating"
                                      readonly="true"
                                      stars="5"
                                      [cancel]="false"
                                      [iconOnStyle]="{ 'font-size': '25px' }"
                                      [iconOffStyle]="{ 'font-size': '25px' }"
                                    ></p-rating>
                                  </dd>
                                  <dt class="col-sm-4">Đánh giá chi tiết</dt>
                                  <ng-container
                                    *ngFor="let detail of review.detail"
                                  >
                                    <dd class="col-sm-12 col-sm-offset-3">
                                      <div class="row">
                                        <div class="col-sm-4 offset-3">
                                          {{ detail.name }}
                                        </div>
                                        <div class="col-sm-5">
                                          <div>
                                            <p-rating
                                              [ngModel]="detail.rating"
                                              readonly="true"
                                              stars="5"
                                              [cancel]="false"
                                            ></p-rating>
                                          </div>
                                        </div>
                                      </div>
                                    </dd>
                                  </ng-container>

                                  <dt class="col-sm-3 text-truncate">
                                    Ưu điểm
                                  </dt>
                                  <dd class="col-sm-9">
                                    {{ review.pros }}
                                  </dd>
                                  <dt class="col-sm-3 text-truncate">
                                    Nhược điểm
                                  </dt>
                                  <dd class="col-sm-9">
                                    {{ review.cons }}
                                  </dd>
                                </dl>
                              </div>
                              <div class="col-sm-12 col-xl-12">
                                <p-carousel
                                  [value]="review.pictures"
                                  [numVisible]="1"
                                  [numScroll]="1"
                                  [autoplayInterval]="3000"
                                  [circular]="false"
                                >
                                  <ng-template
                                    let-pictureForReview
                                    pTemplate="item"
                                  >
                                    <div class="review-item">
                                      <div class="review-item-content">
                                        <div class="p-mb-3">
                                          <img
                                            src="{{ pictureForReview.url }}"
                                            class="review-image"
                                          />
                                        </div>
                                      </div>
                                    </div>
                                  </ng-template>
                                </p-carousel>
                              </div>
                            </div>
                          </p-tabPanel>
                        </ng-container>
                      </p-tabView>
                    </div>

                    <div class="media-footer">
                      <hr style="font-weight: 600; margin-right: 15px" />
                      <button
                        pButton
                        pRipple
                        type="button"
                        class="thumb-up p-button-outlined p-button-secondary"
                      >
                        <i class="pi pi-thumbs-up mr-2"></i>332
                      </button>
                      <button
                        pButton
                        pRipple
                        type="button"
                        class="thumb-down p-button-outlined p-button-secondary"
                      >
                        <i class="pi pi-thumbs-down mr-2"></i>2
                      </button>
                      <button
                        pButton
                        pRipple
                        type="button"
                        class="
                          p-button-outlined p-button-secondary
                          float-right
                          mr-5
                        "
                        style="border: none"
                        (click)="showCommentSection()"
                      >
                        <i class="pi pi-comments mr-2"></i> Bình luận
                      </button>
                      <!-- comment -->
                      <ng-container *ngIf="showComment">
                        <div class="row">
                          <div class="col mx-auto">
                            <div class="media-area mr-5">
                              <div class="media">
                                <a class="pull-left" href="javascript:void(0)">
                                  <div class="avatar profile-photo-small">
                                    <img
                                      class="media-object"
                                      src="https://i.pinimg.com/236x/ad/15/4c/ad154cd33e4fc34d4a492966db9e9e37.jpg"
                                      alt="..."
                                    />
                                  </div>
                                </a>
                                <div class="media-body">
                                  <h5 class="media-heading">Quốc Bảo</h5>
                                  <div class="pull-right">
                                    <h6 class="text-muted">
                                      8 giờ 15 phút 26/10/2021
                                    </h6>
                                    <a
                                      href="javascript:void(0)"
                                      class="btn btn-info btn-link pull-right"
                                      (click)="showReplyCommentSection()"
                                    >
                                      <i class="fa fa-reply"></i> Reply</a
                                    >
                                  </div>
                                  <p>Bài đánh giá quá đúng sự thật</p>
                                  <p>Cảm ơn chia sẻ của bạn</p>

                                  <br />
                                  <ng-container *ngIf="showReply">
                                    <div class="media media-post">
                                      <a
                                        class="pull-left author"
                                        href="javascript:void(0)"
                                      >
                                        <div class="avatar">
                                          <img
                                            class="media-object"
                                            alt="64x64"
                                            src="{{ avatarUrl }}"
                                          />
                                        </div>
                                      </a>
                                      <div class="media-body">
                                        <textarea
                                          class="form-control"
                                          placeholder="Trả lời bình luận ..."
                                          rows="4"
                                        ></textarea>
                                        <div class="media-footer">
                                          <a
                                            href="javascript:void(0)"
                                            class="btn btn-info pull-right"
                                            >Reply</a
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <!-- end media-post -->
                                  </ng-container>
                                </div>
                              </div>
                              <!-- end media -->
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <!--  end Comment -->
                    </div>
                  </div>
                </div>
                <!-- end media -->
              </div>
            </div>
          
        </app-card>
      </ng-container>
      </div>
    </div>
  </div>
</div>
